In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("static/list.csv")

In [3]:
df

,Unnamed: 0,Stock_code,SN,Lot_size,Status,Strike_percentage,Expiry_date,Number_of_lots
0,16541,CNXBAN,NIFTY BANK,30,0,10,2025-04-24,1
1,16544,NIFFIN,NIFTY FINANCIAL SERVICES INDEX,65,0,10,2025-04-24,1
2,16546,NIFNEX,NIFTY NEXT 50,25,0,10,2025-04-24,1
3,16548,NIFSEL,NIFTY MIDCAP SELECT,120,0,10,2025-04-24,1
4,16551,NIFTY,NIFTY 50,75,0,10,2025-04-24,1
...,...,...,...,...,...,...,...,...
217,17206,VEDLIM,VEDANTA LIMITED,1150,1,10,2025-04-24,1
218,17209,VOLTAS,VOLTAS LTD,300,1,10,2025-04-24,1
219,17212,WIPRO,WIPRO LTD,3000,1,10,2025-04-24,1
220,17215,YESBAN,YES BANK LIMITED,26000,1,10,2025-04-24,1
221,17222,ZOMLIM,ZOMATO LIMITED,2000,1,10,2025-04-24,1

In [4]:
df["Expiry_date"] = "2025-07-31"

In [5]:
df.to_csv("static/list.csv")